@import-normalize;
@import 'include-media';

@import 'global/variables';
@import 'global/default';
@import 'global/fonts';
@import 'global/utils';
@import 'global/layout';

@import 'vendor/slick';

@import 'shared/logo';